body{
    background: rgb(173,89,6);
    background: linear-gradient(90deg, rgb(132, 66, 0) 1%, #fa9930 50%, rgba(182,71,28,1) 100%, rgb(244, 166, 88) 100%);
}


.navbar-brand {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.log1 {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;

  }



